 .u-section-1 {
  background-image: url("images/image.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 5097px;
}

.u-section-1 .u-image-1 {
  width: 1113px;
  height: 611px;
  margin: 4456px 0 30px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4108px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 516px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3987px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 395px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3888px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 296px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3778px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 186px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 252px;
}

.u-section-2 .u-text-1 {
  margin: 16px auto 0;
}

.u-section-2 .u-text-2 {
  margin: -36px 43px 0 auto;
}

.u-section-2 .u-text-3 {
  margin: -32px auto 0 43px;
}

.u-section-2 .u-text-4 {
  margin: 16px 43px 0 auto;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -143px auto 0;
}

.u-section-2 .u-btn-2 {
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: -40px auto 0 33px;
  padding: 8px 27px 8px 26px;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  margin: 14px 335px 0 auto;
}

.u-section-2 .u-text-6 {
  font-size: 1.5rem;
  margin: -77px auto 35px 43px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 276px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 866px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 293px;
    margin-left: 273px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 269px;
    margin-right: auto;
    margin-left: 243px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -590px;
    margin-left: 273px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 584px;
    margin-right: auto;
    margin-left: 253px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -445px;
    margin-left: 253px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -313px;
    margin-left: 259px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 329px;
    margin-right: 133px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: -377px;
    margin-bottom: 60px;
    margin-left: 256px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 205px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 182px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 205px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 190px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 190px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -300px;
    margin-left: auto;
  }

  .u-section-2 .u-text-5 {
    margin-top: 284px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -346px;
    margin-left: 192px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 696px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 203px;
    margin-left: 107px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 232px;
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: -473px;
    margin-left: 98px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 470px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -418px;
    margin-left: 74px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -229px;
    margin-left: 87px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 209px;
    margin-right: auto;
    margin-left: 50px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -303px;
    margin-left: 77px;
  }
}